#skill {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid yellow; */
    padding: 2.5rem;
    margin-bottom: 10rem;
}

/* .skills{
    border: solid yellow; 
} */
.skills img {
    height: 8rem;
    width: 8rem;
    /* border: 12px solid white; */
    border-radius: 2%;
    margin: 2rem;
    animation: float 6s  ease-in-out infinite;
    animation-delay: calc(0.3s*var(--i));
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}